* {
    padding: 0;
    margin: 0;
    border-width: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.container {
    width: 950px;
    padding: 25px;
    border: 5px solid white;
    border-radius: 25px;
}

header {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding-bottom: 25px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

.player_Container {
    padding: 0 0 25px 0;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

.playerOne_Container,
.playerTwo_Container {
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.playerTwo_Container {
    margin-top: 25px;
    border-width: 5px 0 0 0;
    border-style: dotted;
    border-color: white;
}

.player_Name,
.player_Type,
.player_Symbol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#playerOne_Color,
#playerTwo_Color {
    height: auto;
}

button {
    width: 100px;
}

input,
select{
    font-size: 1.3em;
}

input:disabled,
select:disabled {
    color: white;
    text-align: center;
    background-color: transparent;
}

.controls_Container {
    padding: 25px 0;
    font-size: 1.3em;
    font-weight: 700;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
    display: flex;
    gap: 10px;
}

.controls_RightContainer{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.player_Turn{
    animation: twinkle 0.5s alternate infinite;
}

@keyframes twinkle {
    from{
     opacity: 1;
     background-color: #0000000F;
    }
    to{
        opacity: 0.6;
        background-color: #FFFFFFFF;
    }    
}

main {
    padding: 25px 0;
    display: grid;
    grid-template-rows: 200px 210px 200px;
    grid-template-columns: 205px 200px 205px;
    justify-content: center;
    align-content: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

main>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8em;
    text-align: center;
}


#bs0,
#bs3,
#bs6 {
    border-width: 0 5px 0 0;
    border-style: dotted;
    border-color: white;
}

#bs2,
#bs5,
#bs8 {
    border-width: 0 0 0 5px;
    border-style: dotted;
    border-color: white;
}

#bs3,
#bs4,
#bs5 {
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-style: dotted;
    border-color: white;
}

footer {
    font-size: 1em;
    font-weight: 700;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}