*{
    padding: 0;
    margin: 0;
    border-width: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.container{
    width: 950px;
    padding: 25px;
    border: 5px solid white;
    border-radius: 25px;
}

header{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding-bottom: 25px;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

.player_Container{
    padding: 0 0 25px 0;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

.playerOne_Container,
.playerTwo_Container{
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;    
    padding-top: 25px;
}

.playerTwo_Container{
    margin-top: 25px;
    border-width: 5px 0 0 0;
    border-style: dotted;
    border-color: white;
}

.player_Name,
.player_Type,
.player_Symbol{    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#playerOne_Color,
#playerTwo_Color{
    height: auto;
}

button{
    width: 100px;
}

.controls_Container{
    padding: 25px 0;
    font-size: 1.3em;
    font-weight: 700;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

main{
    padding: 25px 0;
    display: grid;
    grid-template-rows: 200px 210px 200px;
    grid-template-columns: 205px 200px 205px;
    justify-content: center;
    align-content: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: white;
}

main>div{
    box-sizing: border-box;
}


.boardSquare_0,
.boardSquare_3,
.boardSquare_6{
    border-width: 0 5px 0 0;
    border-style: dotted;
    border-color: white;
}

.boardSquare_2,
.boardSquare_5,
.boardSquare_8{
    border-width: 0 0 0 5px;
    border-style: dotted;
    border-color: white;
}

.boardSquare_3,
.boardSquare_4,
.boardSquare_5{
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-style: dotted;
    border-color: white;
}

footer{
    font-size: 1em;
    font-weight: 700;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}